*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	
*{
	!border: 1px solid red;
	font-family: 'Lato', sans-serif;
	}

hr{
	border:2px;
	height:4px;
	background: #bcbbbb;
	}

h1{
	text-transform: uppercase;
	text-align: right;
	font-size: 40px;
	color: #747704;
	margin-top: 5px;
	margin-bottom: 5px;
	}
	
h2{
	text-align: left;
	font-size: 30px;
	color: #bcbbbb;
	margin-bottom: 10px;
	margin-left: 20px;
	}

h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #747704;
	margin-bottom: 0px;
	margin-top: 5px;
	}
	
h4{
	text-transform: uppercase;
	text-align: right;
	color: #747704;
	margin-top: 5px;
	margin-bottom: 5px;
	}

a{
	text-align: center;
	color: #747704;
	font-size: 15px;
	margin-top: 2px;
	text-decoration: none;
	display: block;
}

.img-display{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-display-left{
	display: block;
	float: left;
}

.img-display-right{
	display: block;
	float: right;
}
	
.grid{
	margin: 0 auto;
	max-width: 905px;
	width: 100%;
	}
	
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	}

.row-img{
	width: 100%;
	display: flex;
	margin-top: 25px;
	}
	
.col-1{
	width: 8.33%;
	}

.col-2{
	width: 16.66%;
	}

.col-3{
	width: 25%;
	}

.col-4{
	width: 33.33%;
	}
	
.col-5{
	width: 41.66%;
	}

.col-6{
	width: 50%;
	}

.col-7{
	width: 58.33%;
	}

.col-8{
	width: 66.66%;
	}
	
.col-9{
	width: 75%;
	}

.col-10{
	width: 83.33%;
	}

.col-11{
	width: 91.66%;
	}

.col-12{
	width: 100%;
	color: #bcbbbb;
	}