@media screen and (max-width: 407px) {
	h1 {
		font-size: 30px;
		margin-top: 10px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
	}
	.title {
		width: 50%;
		float: right;
	}
	.logo {
		width: 50%;
		float: left;
	}
	.img-large {
		display: none;
	}
}

@media screen and (min-width: 407px) and (max-width: 768px) {
	.img-1 {
		width: 100%;
	}
	.img-2 {
		width: 100%;
	}
	.img-portfolio {
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		width: 50%;
		float: right;
	}
	.logo {
		width: 50%;
		float: left;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.img-portfolio {
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		width: 50%;
		float: right;
	}
	.logo {
		width: 50%;
		float: left;
	}
	.img-1 {
		width: 50%;
		float: left;
	}
	.img-2 {
		width: 50%;
		float: right;
	}
}