/*
 * Main Styles
 */

body {
	color: #747704;
	font: normal 300 1em "Muli", sans-serif;
}

hr {
	background: #bcbbbb;
	margin: 1px 0 25px 0;
	height: 3px;
}

a {
	color: #ff4500;
	font-size: 15px;
}

/*
 * Other Styles
 */

.con-max-width {
	max-width: 905px;
}

.text-muted {
	color: #00cd00;
}

.text-hot {
	color: #ee4000;
}

.text-fat {
	font-weight: 400;
}

.title-super {
	font-size: 60px;
	margin: 20px 0 0 0;
}

.title-logo {
	margin: 20px 0 0 0;
}

.title-color {
	color: #009acd;
}

.img-portfolio {
	margin: 10px auto;
	max-height: 190px;
}

.title {
	width: 50%;
	float: right;
}

.logo {
	width: 50%;
	float: left;
}

.modal-body {
	font-size: 1.5em;
	color: #009acd;
}

.modal-title {
	font-size: 2em;
	color: #009acd;
}

/*
 * Screen width less than 407px
 */

@media screen and (max-width: 407px) {

	h1 {
		font-size: 30px;
		margin: 10px 0 10px 0;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

}
